.countdown-clock{
    --percent-remaining: 100%;
    width: 88%;
    height: 88%;
    align-items: center;
    gap: 3%;
    border-radius: 50%;
}
.countdown-clock, .hourglass{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hourglass{
    width: 50%;
    height: 80%;

}
.cap{
    --cap-curve: 38%;
    flex: 0.2;
    background-image: linear-gradient(90deg, #713a1c 30%, #422414, #713a1c 70%);

}
.cap:first-child{
    border-radius: var(--cap-curve) var(--cap-curve) 0 0;
}
.cap:last-child{
    border-radius: 0 0 var(--cap-curve) var(--cap-curve);
}
.glass{
    flex: 1;
    background-image: conic-gradient(at 50% 104%, transparent 30deg, rgba(255,255,255,0.2) 31deg, white 35deg, transparent 36deg 324deg, white 325deg, rgba(255,255,255,0.2) 329deg, transparent 330deg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.glass:nth-child(3){
    transform: rotate(180deg);
    justify-content: flex-start;
}
.sand{
    width: 100%;
    height: calc(var(--percent-remaining));
    background-color: #835c41;
    filter: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="dirt" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">\
        <feTurbulence type="turbulence" baseFrequency="0.3 0.7" numOctaves="31" seed="11" stitchTiles="noStitch" result="turbulence" />\
      </filter>\
    </svg>#dirt') brightness(200%) saturate(300%) sepia(100%);

    mask-image: conic-gradient(at 50% 102%, white 35deg, transparent 36deg 324deg, white 325deg);

}
.sand-falling{
    position: absolute;
    bottom: 0;
    background-image: repeating-radial-gradient(#887161 15%, transparent 16%, transparent 57%, #6c4e38 58%),
    repeating-conic-gradient(#67524c 19%, transparent 20% 70%, #9c8a7b 71% 73%, transparent 74%);
    background-size: 11px 17px, 7px 19px;
    height: calc(var(--percent-remaining));
    width: 100%;
    mask-image: conic-gradient(at 50% 107%, white 15deg, transparent 16deg 344deg, white 345deg), linear-gradient(rgba(255,255,255,0.25), white);
    mask-composite: intersect;
    animation: falling 0.3s infinite;
}
.hidden{
    display: none;
}
@keyframes falling {
    0%{
        background-position: 50% 0;
        background-size: 11px 17px, 7px 19px;
    }
    25%{
        background-position: 20% 20%;
        background-size: 9px 3px, 17px 5px;
    }
    50%{
        background-position: 80% 68%;
        background-size: 3px 17px, 17px 22px;
    }
    75%{
        background-position: 45% 85%;
        background-size: 17px 11px, 22px 15px;
    }
    100%{
        background-position: 50% 100%;
    }
}
.landed{
    width: 100%;
    /*height: calc(100% - var(--percent-complete));*/
    height: 100%;
    /*mask-image: conic-gradient(at 50% 102%, white 35deg, transparent 36deg 324deg, white 325deg), linear-gradient(white calc(100% - var(--percent-complete) - 1px), transparent calc(100% - var(--percent-complete)));*/
    mask-image: conic-gradient(at 50% 102%, white 35deg, transparent 36deg 324deg, white 325deg);
    /*mask-composite: intersect;*/
    mask-size: 99% 100%;
    mask-position: 1px 0;
    mask-repeat: no-repeat;
}
.landed-viewport{
    width: 100%;
    mask: linear-gradient(white calc(100% - var(--percent-remaining) - 1px), transparent calc(100% - var(--percent-remaining)));
    height: 100%;
}
.controls{
    flex: 0.75;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.countdown-clock .buttons{
    display: flex;
}
.countdown-clock .controls button{
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}