:root{
  color-scheme: dark;
  --led-color: rgb(6, 136, 228);
  --inactive-color: rgba(53, 49, 49, 0.3);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex{
  display: flex;
}
html, body{
  height: 100%;
  width: 100%;
}
body{
  position: fixed;
  display: grid;
  place-items: center;
  overflow: hidden;

  perspective: 250vmin;
}
#app{
  width: 100vmin;
  height: 100vmin;
  position: relative;
  transform-style: preserve-3d;
  margin: auto;
}

.clock-container, .text-ring{
  display: grid;
  place-items: center;
  border-radius: 50%;

}
.clock-container::before{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  background-color: black;
}
.text-ring{
  --rotation: 0deg;
  --rotation-time: 1.5s;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  transform: rotate(var(--rotation));
  transition: transform var(--rotation-time);
}
.text-ring > *{
  grid-area: 1/1/2/2;
}
.text-ring::before, .text-ring::after{
  position: absolute;
  content:"";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.text-ring::before{
  z-index: -2;
  background-image: radial-gradient(transparent 55%, rgb(246, 185, 21) 55.2%, rgb(207, 123, 37) 67.5%, transparent 67.8%),
  repeating-conic-gradient(hsl(0deg, 5%, 50%) 5deg, hsl(0deg, 0%, 40%) 5.3deg, hsl(0deg, 0%, 70%) 6.9deg);
  background-blend-mode: overlay;
  background-size: 100%, 9px 11px;
  mask-image: radial-gradient(transparent 55%, white 55.2%, white 67.5%, transparent 67.8%);
}
.text-ring::after{
  transform: rotate(calc(var(--rotation) * -1));
  transition: transform var(--rotation-time);
  z-index: -1;
  background-image: radial-gradient(transparent 55%, rgb(33, 126, 138) 55.2%, rgb(59, 83, 143) 67.5%, transparent 67.8%);
  clip-path: polygon(50% 50%, 75% 100%, 25% 100%);

}
.curved-text{
  cursor: pointer;
  fill: #2e2117;
  font: bold 6px sans-serif;
  text-anchor: middle;
  paint-order: stroke;
  stroke: #af8059;
  stroke-width: 0.3px;
}
.curved-text:hover{
  fill: #1759a5;
}
@media screen and (min-width: 300px) and (min-height: 300px){
  .curved-text{
    fill: #102345;
    text-shadow: #dfbc4a 1px 1px 1px;
  }
}
.clock-container{
  position: absolute;
  width: 78%;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.clock-container > div{
  transition: opacity 1s;
}
.fading{
  opacity: 0;
}
.hidden{
  display: none;
}
.invisible{
  opacity: 0; /*Used separately from fading*/
}
@media screen and (orientation: portrait){
  #app::before, #app::after{
    content:"";
    position: absolute;
    width: 70%;
    height: 120vmin;
    left: 50%;
    clip-path: polygon(0 100%, 10% 70%, 15% 70%, 15% 0, 85% 0, 85% 70%, 90% 70%, 100% 100%);
    background: repeating-linear-gradient(rgb(234, 165, 38), rgb(128, 91, 24)) 0 25%/100% 25%,
    linear-gradient(90deg, transparent 25%, #655853 25.2% 26.8%, transparent 27% 73%, #655853 73.2% 74.8%, transparent 75%) 0 0/100% 69% no-repeat;
    background-blend-mode: color;
    mask-image: repeating-conic-gradient(hsla(0deg, 5%, 50%, 1) 2deg, hsla(0deg, 0%, 40%, 0.8) 2.2deg, hsla(0deg, 0%, 70%, 0.9) 2.4deg),
    linear-gradient(white, white);
    mask-size: 100% 80%, 100% 30%;
    mask-position: 0 0, 0 100%;
    mask-repeat: no-repeat;
  }
  #app::before{
    top: -100vmin;
    transform-origin: bottom;
    transform: translateX(-50%) translateZ(-2px) rotateX(40deg);
  }
  #app::after{
    bottom: -100vmin;
    transform-origin: bottom;
    transform: translateX(-50%) translateY(-100%) translateZ(-2px) rotateX(-40deg) rotateZ(180deg);
    z-index: -1;
  }
}