.digit{
    --gap-size: 0.8vmin;
    display: grid;
    width: 100%;
    aspect-ratio: 0.5;
    grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 8fr 1fr 1fr 8fr 1fr 1fr;
    gap: var(--gap-size);
}
.segment{
    --vertical-clip: polygon(0 var(--bevel-size), 50% 0, 100% var(--bevel-size), 100% calc(100% - var(--bevel-size)), 50% 100%, 0 calc(100% - var(--bevel-size)));
    --horizontal-clip:polygon(0 50%, var(--bevel-size) 0, calc(100% - var(--bevel-size)) 0, 100% 50%, calc(100% - var(--bevel-size)) 100%, var(--bevel-size) 100%);
    --bevel-size: 1vmin;
    background-color: var(--inactive-color);
    clip-path: var(--horizontal-clip);
}
.segment:nth-child(1){
    grid-area: 1/2/3/5;
}
.segment:nth-child(2){
    grid-area: 2/4/5/6;
    clip-path: var(--vertical-clip);
}
.segment:nth-child(3){
    grid-area: 5/4/8/6;
    clip-path: var(--vertical-clip);
}

.segment:nth-child(4){
    grid-area: 7/2/9/5;
}
.segment:nth-child(5){
    grid-area: 5/1/8/3;
    clip-path: var(--vertical-clip);
}
.segment:nth-child(6){
    grid-area: 2/1/5/3;
    clip-path: var(--vertical-clip);
}

.segment:nth-child(7){
    grid-area: 4/2/6/5;
}
.lit{
    background-color: var(--led-color);
}
.hyphen{
    width: 100%;
    aspect-ratio: 0.5;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.hyphen .segment{
    height: 8.333%;
}